body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Cak3.jpg) no-repeat; 
  backface-visibility: 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: Merryweather;
  font-size: 5rem;
  color: sandybrown;
}

h2{
  font-size: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px;
}
img{
  width: 300px;
  height: 200px;
  border-radius: 50px;
  margin: 10px;
 transition: all 1s;
}

img:hover{
  transform:  scale(1.1);
}

hr{
  border-color: #d79b2f;
  border-width: 3px;
  max-width: 65px;
}
.buffer {
  height: 10rem;
}

.btn{
  font-weight: 2rem;
   border-radius: 200px;
   text-transform: uppercase;
}

.btn-primary{ 
  background-color: #d79b2f;
  border-color:#d79b2f ;
}

.btn-primary:hover {
background-color: #a97821;
border-color: #a97821 ;
border-width: 4px;
}

.btn-xl{
  padding: 2rem 3rem;
  border-color: #d79b2f;
}
